language: python

services:
  - docker

python:
- '3.7'

env:
- ADMIN_PASSWORD=admin
- ROOT_DIR=${HOME}/buckets
- SN_PORT=5101
- HSDS_ENDPOINT=http://localhost:5101
- BUCKET_NAME=hsds.test
install:
  - sudo apt-get update -qq
  - pip install aiohttp
  - pip install requests
  - pip install pyflakes
  - pip install pytz
  - ./build.sh
  - mkdir ${HOME}/buckets
  - mkdir ${HOME}/buckets/hsds.test
  - echo "ROOT_DIR ${ROOT_DIR}
  - ./runall.sh
script:
  python testall.py
