[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "==3.9.4"
aiobotocore = "==2.5.0"
aiohttp-cors = "*"
aiofiles = "*"
azure-storage-blob = "*"
bitshuffle = "*"
botocore = "*"
cryptography = "*"
h5py = ">=3.6.0"
numcodecs = "*"
numpy = "<2.0.0"
psutil = "*"
pyjwt = "*"
pytz = "*"
pyyaml = "*"
requests-unixsocket = "*"
simplejson = "*"
s3fs = "*"

[dev-packages]

[requires]
python_version = "3.10"
