aiohttp==3.9.4
aiobotocore==2.13.0
aiohttp_cors
aiofiles
azure-storage-blob
cryptography
h5py>=3.6.0
hdf5-json>1.0.0
numcodecs
numpy>=2.0.0rc1
psutil
pyjwt
pytz
pyyaml
requests<=2.31.0
requests-unixsocket
simplejson
s3fs
urllib3<2.0.0
