[Unit]
Description=Highly Scalable Data Service SN Node

[Service]
Type=forking
ExecStart=/home/jreadey/hsds/admin/systemd/run_sn.sh
#Restart=on-abort
WorkingDirectory=/home/jreadey/hsds/admin/systemd
User=jreadey
Group=jreadey

[Install]
WantedBy=multi-user.target
