apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: hsds
  name: hsds
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hsds
  template:
    metadata:
      labels:
        app: hsds
    spec:
      containers:
        -
          name: sn
          image: "hdfgroup/hsds"
          imagePullPolicy: IfNotPresent
          volumeMounts:
          - name: accounts
            mountPath: "/config/"
          - name: config
            mountPath: "/config/"
            subPath: config.yml
          ports:
            -
              containerPort: 5101
          env:
          - name: NODE_TYPE
            value: sn
          - name: HEAD_PORT
+            value: "0" # no head container
          - name: AZURE_CONNECTION_STRING
            valueFrom:
              secretKeyRef:
                name: azure-conn-str
                key: az_conn_str
          - name: POD_IP
            valueFrom:
              fieldRef:
                fieldPath: status.podIP
          - name: AZURE_APP_ID  # for Active Directory authentication
            valueFrom:
              secretKeyRef:
                name: azure-ad-ids
                key: az_app_id
          - name: AZURE_RESOURCE_ID  # for Active Directory authentication
            valueFrom:
              secretKeyRef:
                name: azure-ad-ids
                key: az_resource_id
        -
          name: dn
          image: "hdfgroup/hsds"
          lifecycle:
            preStop:
              exec:
                command: ["/sbin/killall5", "-15"]
          imagePullPolicy: IfNotPresent
          volumeMounts:
          - name: config
            mountPath: "/config/config.yml"
            subPath: config.yml
          - name: override
            mountPath: "/config/override.yml"
            subPath: override.yml
          ports:
            -
              containerPort: 6101
          env:
          - name: NODE_TYPE
            value: dn
          - name: HEAD_PORT
+            value: "0" # no head container
          - name: AZURE_CONNECTION_STRING
            valueFrom:
              secretKeyRef:
                name: azure-conn-str
                key: az_conn_str
      volumes:
      - name: accounts
        secret:
          secretName: user-password
      - name: config
        configMap:
          name: hsds-config
      - name: override
        configMap:
          name: hsds-override
        
