apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: hsds
  name: hsds
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hsds
  template:
    metadata:
      labels:
        app: hsds
    spec:
      containers:
        -
          name: sn
          image: "hdfgroup/hsds"
          imagePullPolicy: IfNotPresent
          volumeMounts:
          - name: data
            mountPath: "/data"
          - name: accounts
            mountPath: "/config"
          - name: config
            mountPath: "/config/"
          ports:
            -
              containerPort: 5101
          env:
          - name: NODE_TYPE
            value: sn
          - name: HEAD_PORT
            value: "0" # no head container
        -
          name: dn
          image: "hdfgroup/hsds"
          lifecycle:
            preStop:
              exec:
                command: ["/sbin/killall5", "-15"]
          imagePullPolicy: IfNotPresent
          volumeMounts:
          - name: data
            mountPath: "/data"
          ports:
            -
              containerPort: 6101
          env:
          - name: NODE_TYPE
            value: dn
          - name: HEAD_PORT
            value: "0" # no head container
      volumes:
      - name: data
        hostPath:
          # change to directory location for bucket parent directory
          path: /var/mybuckets
          type: Directory
      - name: config
        secret:
          secretName: user-password
      - name: hsds-config
        configMap:
          name: hsds-config
