version: '2'
services:
  head:
    image: hdfgroup/hsds
    restart: ${RESTART_POLICY}
    mem_limit: ${HEAD_RAM}
    environment:
      - TARGET_SN_COUNT=${SN_CORES}
      - TARGET_DN_COUNT=${DN_CORES}
      - NODE_TYPE=head_node
      - AZURE_CONNECTION_STRING=${AZURE_CONNECTION_STRING}
      - BUCKET_NAME=${BUCKET_NAME}
      - LOG_LEVEL=${LOG_LEVEL}
    ports:
      - ${HEAD_PORT}
    volumes:
      - ${PWD}/admin/config/:/config/

  dn:
    image: hdfgroup/hsds
    restart: ${RESTART_POLICY}
    mem_limit: ${DN_RAM}
    environment:
      - NODE_TYPE=dn
      - AZURE_CONNECTION_STRING=${AZURE_CONNECTION_STRING}
      - BUCKET_NAME=${BUCKET_NAME}
      - LOG_LEVEL=${LOG_LEVEL}
    ports:
      - ${DN_PORT}
    depends_on:
      - head
    volumes:
      - ${PWD}/admin/config/:/config/
    links:
      - head

  sn:
    image: hdfgroup/hsds
    restart: ${RESTART_POLICY}
    mem_limit: ${SN_RAM}
    environment:
      - SN_PORT=${SN_PORT}
      - SN_CORES=${SN_CORES}
      - NODE_TYPE=sn
      - AZURE_CONNECTION_STRING=${AZURE_CONNECTION_STRING}
      - BUCKET_NAME=${BUCKET_NAME}
      - LOG_LEVEL=${LOG_LEVEL}
      - HSDS_ENDPOINT=${HSDS_ENDPOINT}
    ports:
      - ${SN_PORT_RANGE}:${SN_PORT}
    depends_on:
      - head
    volumes:
      - ${PWD}/admin/config/:/config/
    links:
      - head